$primary-color: #8FBC8F;
$secondary-color: #F5FFFA;

@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn {
  border: none;
  border-radius: 8px;
  background-color: $primary-color;
  width: 200px;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 5px;
}

body {
  margin: 0;
  background-color: $secondary-color;
}

.main-header {
  @include center-items;
  justify-content: center;
  background-color: $primary-color;
  width: 100vw;
  height: 100px;

  &__title {
    font-size: 2rem;
    margin: 0;
  }
}

.main-sec__welcome {
  @include center-items;
}

.game-sec {

  &__form {
    @include center-items;
  }

  button {
    @include btn
  }
}

.form__input {
  border: 2px solid $primary-color;
  border-radius: 8px;
  background-color: white;
  width: 200px;
  font-size: 1rem;
  margin: 10px 0;
  padding: 5px;
}

.score-sec {
  display: flex;
  justify-content: space-evenly;

  &__user,
  &__computer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.result-sec {
  @include center-items;
}

.reset-box {
  @include center-items;

  &__btn {
    @include btn
  }
}
