$primary-color: #8FBC8F;
$secondary-color: #F5FFFA;
$accent-color: #8F8FBC;

@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn {
  border: none;
  border-radius: 8px;
  background-color: $primary-color;
  width: 200px;
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 5px;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

@keyframes userShake {
  50% { transform: rotate(10deg); }
}
@keyframes computerShake {
  50% { transform: rotate(-10deg); }
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: $secondary-color;
}

main {
  height: 100vh;
}

.main-header {
  @include center-items;
  justify-content: center;
  background-color: $primary-color;
  width: 100vw;
  height: 100px;

  &__title {
    font-size: 2rem;
    margin: 0;
  }

  &__icons {
    margin: 10px 0;
  }
}

.main-sec {
  @include center-items;

  &__title {
    margin: 20px 0 0 0;
  }
}

.result-sec {
  @include center-items;

  &__result {
    margin: 0;
    font-size: 1.25rem;
  }
}

.score-sec {
  display: flex;
  justify-content: space-evenly;

  &__user,
  &__computer {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.25rem;
    }
  }
}

.game-sec {
  &__form {
    @include center-items;

    .form__directions {
      margin: 10px 0 0 0;
      font-size: 1.25rem;
    }

    #user-input {
      border: 2px solid $primary-color;
      border-radius: 8px;
      background-color: white;
      width: 190px;
      font-size: 1rem;
      margin: 10px 0;
      padding: 5px;
    }
  }

  .form-btn {
    @include btn
  }
}

.shake-wrapper {
  @include center-items;
}

.flip {
  transform: scaleX(1) rotate(270deg);
}

.user-shake {
  animation: userShake 1s ease;
}

.computer-shake {
  animation: computerShake 1s ease;
}

.reset-sec {
  @include center-items;

  &__btn {
    @include btn
  }
}

.main-ft {
  background-color: $primary-color;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;

  p {
    margin: 15px 0;
  }
}

@media screen and (min-width: 750px) {
  .score-sec {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .score-sec {
    width: 25%;
  }
}