$primary-color: #8FBC8F;
$secondary-color: #F5FFFA;

@mixin center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-color: $secondary-color;
}

.main-header {
  background-color: $primary-color;
  width: 100vw;
  height: 100px;

  &__title {
    font-size: 2rem;
    margin: 0;
  }
}

.main-sec__welcome {
  @include center-items;
}

.game-sec {

  &__form {
    @include center-items;
  }
}

.score-sec {
  display: flex;
  justify-content: space-evenly;

  &__user,
  &__computer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.result-sec {
  @include center-items;
}